# SEER Breast Cancer

---


## Intro
    This dataset of breast cancer patients was obtained from the 2017 November update of the SEER Program of the NCI, which provides information on population-based cancer statistics. The dataset involved female patients with
    infiltrating duct and lobular carcinoma breast cancer (SEER primary cites recode NOS histology codes 8522/3) diagnosed in 2006-2010. Patients with unknown tumour size, examined regional LNs, positive regional LNs, and patients whose survival months were less than 1 month were excluded; thus, 4024 patients were ultimately included.

In [1]:
import re
import pandas as pd
import numpy as np

original_data: pd.DataFrame = pd.read_csv('./data/seer_breast_cancer_dataset.csv', sep=',')
original_data

,Age,Race,Marital Status,Unnamed: 3,T Stage,N Stage,6th Stage,Grade,A Stage,Tumor Size,Estrogen Status,Progesterone Status,Regional Node Examined,Reginol Node Positive,Survival Months,Status
0,43,"Other (American Indian/AK Native, Asian/Pacifi...",Married (including common law),NaN,T2,N3,IIIC,Moderately differentiated; Grade II,Regional,40,Positive,Positive,19,11,1,Alive
1,47,"Other (American Indian/AK Native, Asian/Pacifi...",Married (including common law),NaN,T2,N2,IIIA,Moderately differentiated; Grade II,Regional,45,Positive,Positive,25,9,2,Alive
2,67,White,Married (including common law),NaN,T2,N1,IIB,Poorly differentiated; Grade III,Regional,25,Positive,Positive,4,1,2,Dead
3,46,White,Divorced,NaN,T1,N1,IIA,Moderately differentiated; Grade II,Regional,19,Positive,Positive,26,1,2,Dead
4,63,White,Married (including common law),NaN,T2,N2,IIIA,Moderately differentiated; Grade II,Regional,35,Positive,Positive,21,5,3,Dead
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4019,52,White,Married (including common law),NaN,T1,N1,IIA,Well differentiated; Grade I,Regional,10,Positive,Positive,19,1,107,Alive
4020,53,White,Married (including common law),NaN,T1,N2,IIIA,Poorly differentiated; Grade III,Regional,9,Negative,Negative,13,5,107,Alive
4021,53,White,Divorced,NaN,T1,N1,IIA,Moderately differentiated; Grade II,Regional,9,Negative,Negative,4,2,107,Alive
4022,60,"Other (American Indian/AK Native, Asian/Pacifi...",Married (including common law),NaN,T1,N1,IIA,Moderately differentiated; Grade II,Regional,9,Positive,Positive,14,2,107,Alive
4023,62,White,Divorced,NaN,T1,N1,IIA,Moderately differentiated; Grade II,Regional,8,Positive,Positive,1,1,107,Alive

# SEER Breast Cancer

---

### References
Source: https://ieee-dataport.org/open-access/seer-breast-cancer-data

---



# The answer to points 1 and 2 will probably be similar to what you got in Pt1

## 1. Dataset import

---

## a) Explanation of the context. What is this data? Put references.

    This dataset of breast cancer patients was obtained from the 2017 November
    update of the SEER Program of the NCI, which provides information on
    population-based cancer statistics. The dataset involved female patients with
    infiltrating duct and lobular carcinoma breast cancer (SEER primary cites
    recode NOS histology codes 8522/3) diagnosed in 2006-2010. Patients with
    unknown tumour size, examined regional LNs, positive regional LNs, and patients
    whose survival months were less than 1 month were excluded; thus, 4024 patients
    were ultimately included.


## b) Explain the columns. 
(For further information, please read the README.md file in the root directory.)

AGE: 
    This data item represents the age of the patient at diagnosis for this cancer.
    The code represents the patientâ€™s actual age in years.

--- 

RACE

Race recode (White, Black, Other) Field Description: 

    Race recode is based on the race variables and the American Indian/Native
    American IHS link variable. This recode should be used to link to the
    populations for white, black and other. It is independent of Hispanic
    ethnicity. For more information, see :
    http://seer.cancer.gov/seerstat/variables/seer/race_ethnicity.

--- 

MARITAL STATUS

Marital status at diagnosis:

    This data item identifies the patientâ€™s marital status at the time of diagnosis
    for the reportable tumor.

--- 

T STAGE

    Created from merged EOD 3rd Edition and Collaborative Stage disease
    information. Currently only available for Breast schema. For more
    information see http://seer.cancer.gov/seerstat/variables/seer/ajcc-stage/6th.

--- 

N STAGE

    Created from merged EOD 3rd Edition and Collaborative Stage disease
    information. Currently only available for Breast schema. For more information
    see http://seer.cancer.gov/seerstat/variables/seer/ajcc-stage/6th.

---

6TH STAGE

    Created from merged EOD 3rd Edition and Collaborative Stage disease
    information. Currently only available for Breast schema. For more information
    see http://seer.cancer.gov/seerstat/variables/seer/ajcc-stage/6th.

--- 

Grade 

    Grading and differentiation codes of 1-4, 9 are defined in ICD-O-2; 1992.
    Grade information may be incomplete for cases diagnosed before 1977. In the
    early 1980â€™s, additional codes specifying T-cell, B-cell, or null cell
    involvement in lymphomas and leukemias (histologies M9590-9940) were
    introduced by SEER. Because the reporting requirements and medical
    terminology have changed over time, care should be exercised when analyzing
    this information.

--- 

A STAGE

    Derived from Collaborative Stage (CS) for 2004+ and Extent of Disease (EOD)
    from 1973-2003. It is a simplified version of stage: in situ, localized,
    regional, distant, & unknown. Over time several different EOD schemes have
    been used. Thus caution should be used when doing trend analysis. For more
    information including sites and years for which it isn't calculated, see
    http://seer.cancer.gov/seerstat/variables/seer/lrd-stage.

--- 

TUMOR SIZE

    Information on tumor size. Available for 2004+. Earlier cases may be converted
    and new codes added which weren't available for use prior to the current
    version of CS. Each indicates exact size in millimeters. For more information,
    see http://seer.cancer.gov/seerstat/variables/seer/ajcc-stage.

--- 

ESTROGEN STATUS

    Created by combining information from Tumor marker 1 (1990-2003) (NAACCR Item #=1150), 
    with information from CS site-specific factor 1 (2004+) (NAACCR Item#=2880). 
    This field is blank for non-breast cases and cases diagnosed before 1990.

--- 

PROGESTERONE STATUS

    Created by combining information from Tumor marker 2 (1990-2003) (NAACCR
    Item #=1150), with information from CS site-specific factor 2 (2004+)
    (NAACCR Item #=2880). This field is blank for non-breast cases and cases
    diagnosed before 1990.

--- 

REGIONAL NODES EXAMINED

    Records the total number of regional lymph nodes that were removed and
    examined by the pathologist.

--- 

REGIONAL NODES POSITIVE

    Records the exact number of regional lymph nodes examined by the
    pathologist that were found to contain metastases.

--- 

SURVIVAL MONTHS

    Created using complete dates, including days, therefore may differ from
    survival time calculated from year and month only. For more information,
    see http://seer.cancer.gov/survivaltime.

--- 

STATUS

    Any patient that dies after the follow-up cut-off date is recoded to alive
    as of the cut-off date.

---

## c) How many rows are there?

- 4024

In [2]:
len(original_data)

4024




## d) Are there NAs? Where?

- Yes, the obtained dataset has got a an empty anonymous column in the 3th position on the axis 1.

In [3]:
original_data[original_data.isna().any(axis=1)]
len(original_data[original_data.isna().any(axis=1)])

4024


## 2. Fix the Dataset

---

## a) Is the dataset in "tidy" format? Justify your answer.

- The obtained dataset is not in "tidy" format, because of the anonymous empty column.
- It has got multi-valued column ("Grade").
- There are values between parentheses, which seems out of context and not so informative.
- Some of the column labels contain trailing white spaces, which can leave the data processing irregular and confusing, because others won't be able to query it properly.

In [4]:
original_data.columns

Index(['Age', 'Race ', 'Marital Status', 'Unnamed: 3', 'T Stage ', 'N Stage',
       '6th Stage', 'Grade', 'A Stage', 'Tumor Size', 'Estrogen Status',
       'Progesterone Status', 'Regional Node Examined',
       'Reginol Node Positive', 'Survival Months', 'Status'],
      dtype='object')

In [5]:
original_data

,Age,Race,Marital Status,Unnamed: 3,T Stage,N Stage,6th Stage,Grade,A Stage,Tumor Size,Estrogen Status,Progesterone Status,Regional Node Examined,Reginol Node Positive,Survival Months,Status
0,43,"Other (American Indian/AK Native, Asian/Pacifi...",Married (including common law),NaN,T2,N3,IIIC,Moderately differentiated; Grade II,Regional,40,Positive,Positive,19,11,1,Alive
1,47,"Other (American Indian/AK Native, Asian/Pacifi...",Married (including common law),NaN,T2,N2,IIIA,Moderately differentiated; Grade II,Regional,45,Positive,Positive,25,9,2,Alive
2,67,White,Married (including common law),NaN,T2,N1,IIB,Poorly differentiated; Grade III,Regional,25,Positive,Positive,4,1,2,Dead
3,46,White,Divorced,NaN,T1,N1,IIA,Moderately differentiated; Grade II,Regional,19,Positive,Positive,26,1,2,Dead
4,63,White,Married (including common law),NaN,T2,N2,IIIA,Moderately differentiated; Grade II,Regional,35,Positive,Positive,21,5,3,Dead
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4019,52,White,Married (including common law),NaN,T1,N1,IIA,Well differentiated; Grade I,Regional,10,Positive,Positive,19,1,107,Alive
4020,53,White,Married (including common law),NaN,T1,N2,IIIA,Poorly differentiated; Grade III,Regional,9,Negative,Negative,13,5,107,Alive
4021,53,White,Divorced,NaN,T1,N1,IIA,Moderately differentiated; Grade II,Regional,9,Negative,Negative,4,2,107,Alive
4022,60,"Other (American Indian/AK Native, Asian/Pacifi...",Married (including common law),NaN,T1,N1,IIA,Moderately differentiated; Grade II,Regional,9,Positive,Positive,14,2,107,Alive
4023,62,White,Divorced,NaN,T1,N1,IIA,Moderately differentiated; Grade II,Regional,8,Positive,Positive,1,1,107,Alive

## b) If it is not, put it in this format.

In [15]:
tidy_data: pd.DataFrame = original_data

# Remove trailing white spaces from the column names and swap the insider white spaces with underscore.
for col in tidy_data.columns:
    name: str = "_".join(col.strip().split()).lower()
    tidy_data = tidy_data.rename(columns={col:name})

# Remove the Anonymous empty column from the 3th position
tidy_data.dropna(how='all', axis=1, inplace=True)

# Remove the parentheses values from the "Mariatal Status" column and from the "Race" column, because they don't serve us with useful information.
tidy_data["marital_status"] = tidy_data["marital_status"].str.replace(r"\(.*\)", "", regex=True)
tidy_data["race"] = tidy_data["race"].str.replace(r"\(.*\)", "", regex=True)

# Remove the verbal description from the "Grade" column, and leaving only the "Grade x" value.
tidy_data['grade'] = tidy_data['grade'].apply(lambda x: x.split(';')[1])

# Fix the "reginol_node_positive" type for "regional_node_positive".
tidy_data = tidy_data.rename(columns={'reginol_node_positive': 'regional_node_positive'})

a = (tidy_data['a_stage'] == 'Distant')
tidy_data.loc[a].head(10)

,age,race,marital_status,t_stage,n_stage,6th_stage,grade,a_stage,tumor_size,estrogen_status,progesterone_status,regional_node_examined,regional_node_positive,survival_months,status
37,67,White,Married,T3,N3,IIIC,Grade III,Distant,85,Positive,Positive,37,29,8,Dead
44,48,White,Married,T4,N3,IIIC,Grade III,Distant,36,Negative,Negative,17,12,9,Dead
73,52,White,Divorced,T4,N3,IIIC,Grade III,Distant,30,Positive,Positive,16,16,13,Dead
84,49,Black,Separated,T2,N3,IIIC,Grade I,Distant,27,Positive,Positive,23,22,14,Dead
92,49,Black,Separated,T1,N3,IIIC,Grade I,Distant,12,Positive,Positive,16,10,14,Dead
99,43,White,Married,T4,N3,IIIC,Grade III,Distant,120,Negative,Negative,28,26,16,Dead
104,48,Black,Married,T2,N3,IIIC,Grade III,Distant,28,Negative,Negative,19,2,16,Dead
105,48,Black,Single,T4,N2,IIIB,Grade II,Distant,26,Positive,Positive,7,7,16,Dead
107,54,White,Separated,T4,N3,IIIC,Grade III,Distant,70,Positive,Positive,17,15,17,Dead
118,40,White,Married,T2,N3,IIIC,Grade I,Distant,35,Positive,Positive,23,16,18,Alive




3. Outliers and inconsistencies

---


## a) Choose columns that interest you and research them.

Columns that interest us:
- status: What's the ratio of survival corresponding to these datas.
- age: Average age affected by breast cancer.
- a_stage: In what percentage of the recorded cases are the A stages "Distant".

## b) Outliers: Are there any? If there are, can they be deleted? Because?


## c) Inconsistencies: Are there any inconsistencies in the data? can it be fixed?